.add-to-cart {
  /* background-color: #030607; */
  /* height: 100%; */
  display: flex;
  justify-content: center;
  /* align-items: ; */
}
/* .cart-icon:hover {
  background-color: rgb(81, 88, 88);
} */
